
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Portfolio</h2>
            <p>Here's my Git hub link where all the projects are detailed</p>
            <a href="https://github.com/NourBc">GITHUB</a>
          </div>
  
  
    
            
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <img src="assets/assets/img/24-512.png" class="img-fluid1" alt="">
                  <div class="portfolio-info">
                    <div class="portfolio-info">
                      <h4>Client Server Distributed system</h4>
                      <p>WEB App</p>
                      <div class="portfolio-links">
            
                        <a href="https://github.com/NourBc/client-server-distributed-systems" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
    
              <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                  <img src="assets/assets/img/movie.jpg" class="img-fluid1" alt="">
                  <div class="portfolio-info">
                    <h4>Torrents Movies</h4>
                    <p>WEB App</p>
                    <div class="portfolio-links">
                      
                      <a href="https://github.com/NourBc/Torrentmovies" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <img src="assets/assets/img/dash.png" class="img-fluid1" alt="">
                  <div class="portfolio-info">
                    <h4>Accreditation dashboard</h4>
                    <p>WEB App</p>
                    <div class="portfolio-links">
                      
                      <a href="https://github.com/NourBc/Accreditation-Dashboard-FRONT-END" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                      <a href="https://github.com/NourBc/Accreditation-Dashboard-FRONT-END" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            
       
  
        
      </section><!-- End Portfolio Section -->
  