<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Nour Bachraoui</h4>
            <p><em>Sofwtare ENgineering Student</em></p>
            <ul>
              <li>Tunisia</li>
              <li>(216) 20201209</li>
              <li>nourbachraoui123@hotmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Engineering Degree &amp; Sofwtare</h4>
            <h5>2017 - now</h5>
            <p><em>Mediterranean Institute Of Technology</em></p>
            <p> Sofwtare engineering with a little bit of networking.</p>
          </div>
          <div class="resume-item">
            <h4>Developer level 1 certificate</h4>
            <h5>summer 2020</h5>
            <p><em>GO MY CODE</em></p>
            <p>HTML, CSS, JQUERY, FIREBASE</p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Software Engineer intern</h4>
            <h5>july. 2019 - august 2019</h5>
            <p><em>GET WIRELESS  </em></p>
            <ul>
              <li>Creating a website for the company that allows them to communicate between each other and send formal documents..</li>
        
            </ul>
          </div>
          <div class="resume-item">
            <h4> University projects</h4>
            <h5>2017 - 2021</h5>
            <p><em> Mediterranean Institute Of Technology</em></p>
            <ul>
              <li> During junior year,
                I worked on several projects such as: <br>
               • Creating a social network (using Java), <br>
               • Creating a web and mobile application using Agile process<br>
               • Developed a web application called “MyMentor” using Agile process (Scrum Framework).</li>
               
               <li> During senior year, 
               I worked on several projects such as: <br>
               • Creating a health monitoring system (using Java) where we applied the several design patterns and design principles, <br>
               • A MEAN stack project call Accreditation dashboard where our stakeholder is our university.</li>           
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->